.about-me {
  background-color: #000;
  color: #d4af37;
  /*display:flex;*/
  padding: 20%;
  margin: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.5s ease, transform 0.5s ease;
}

.about-me h2 {
  font-size: 2rem;
  margin-bottom: 10px;
  color: #f1c40f; /* Golden color for heading */
}

.about-me p {
  font-size: 1.1rem;
  display:flex;
  line-height: 1.6;
  margin-bottom: 10px;
  color: #ddd;
}

.about-me.fade-in {
  opacity: 1;
  transform: translateY(0);
}

