.academic-qualifications {
  background-color: #000;
  color: #fff;
  padding: 20%;
  margin: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.academic-qualifications h2 {
  font-size: 2rem;
  margin-bottom: 10px;
  color: #f1c40f; /* Golden color for heading */
}

.academic-qualifications ul {
  list-style: none;
  padding: 0;
}

.academic-qualifications li {
  font-size: 1.1rem;
  line-height: 1.6;
  margin-bottom: 15px;
  color: #ddd;
}

.academic-qualifications li strong {
  color: #f1c40f; /* Golden color for the degree names */
}

.academic-qualifications.fade-in {
  opacity: 1;
  transform: translateY(0);
}
